 <section class="htc__about__area about--2 text__pos ptb--150 bg__white">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="section__title text-center">
                            <h2 class="title__line">ABOUT <span class="text--theme">AKART DESIGN & BUILD </span></h2>
                            <p>We are group of intelligent designer and quality builder;
                                We are London based company providing services in the field of Project Design, Interior Design,
                                Construction Works etc.</p>
                        </div>
                    </div>
                </div>
                <div class="row mt--70">
                    <div class="col-md-4 col-lg-3 col-lg-offset-1 col-sm-6 col-xs-12">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a href="/about">OUR STORY</a></h2>
                                <p>AkArt Limited, we are are an artistic team of design professionals and project managers led by company director, Muhammet Akdere.</p>
                                <div class="about__btn">
                                    <a href="about">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="img/others/icon/1.png" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info">
                                <h2><a href="/about">OUR STORY</a></h2>
                                <p>Akart was established in 2004, covering all aspects of building work acting as principal contractors on large contracts, new builds and luxury conversions.</p>
                                <div class="about__btn">
                                    <a href="/about">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="img/others/icon/1.png" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 col-sm-6 col-xs-12">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a href="/about">ABOUT US</a></h2>
                                <p>We believe in creating unique spaces to combine all forms of creative disciplines ensuring that each clients' needs and concepts are successfully manifested into each project. Our team of architectural composers have a strong reputation in offering great client services and achieving quality project outcomes.</p>
                                <div class="about__btn">
                                    <a href="/about">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="img/others/icon/2.png" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info active">
                                <h2><a href="/about">ABOUT US</a></h2>
                                <p>We believe in creating unique spaces to combine all forms of creative disciplines ensuring that each clients' needs and concepts are successfully manifested into each project. Our team of architectural composers have a strong reputation in offering great client services and achieving quality project outcomes.</p>
                                <div class="about__btn">
                                    <a href="/about">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="img/others/icon/2.png" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-lg-3 hidden-sm col-xs-12">
                        <div class="about foo">
                            <div class="about__inner">
                                <h2><a href="/about">OUR CERTIFICATE</a></h2>
                                <p>Akart are fully registered NHBC, FMB, LABC, Chas and Construction Line members. We are also very experienced in working with local authority Building Control and the guidelines and monitoring of Considerate Construction and BREEAM assignments.</p>
                                <div class="about__btn">
                                    <a href="/about">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="img/others/icon/3.png" alt="icon images">
                                </div>
                            </div>
                            <div class="about__inner about__hober__info">
                                <h2><a href="/about">OUR CERTIFICATE</a></h2>
                                <p>Akart was established in 2004, covering all aspects of building work acting as principal contractors on large contracts, new builds and luxury conversions</p>
                                <div class="about__btn">
                                    <a href="/about">READ MORE</a>
                                </div>
                                <div class="about__icon">
                                    <img src="img/others/icon/3.png" alt="icon images">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text__shape">
                <h2>SIMPLY</h2>
            </div>
        </section>
        <!-- End About Area -->