 <div class="htc__contact__address add-res bg__cat--1">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="htc__contact__wrap clearfix">
                            <!-- Start Single Address -->
                            <div class="ht__address__inner">
                                <div class="ht__address__icon map-pin">
                                    <i class="zmdi zmdi-pin"></i>
                                </div>
                                <div class="ht__address__details">
                                    <p>576A Lordship Lane, Wood Green, <br> London, N22 5BY.</p>
                                </div>
                            </div>
                            <!-- End Single Address -->
                            <!-- Start Single Address -->
                            <div class="ht__address__inner">
                                <div class="ht__address__icon glob">
                                    <i class="fa fa-globe" aria-hidden="true"></i>
                                </div>
                                <div class="ht__address__details">
                                    <p><a href="http://akart.co.uk/">info@akart.co.uk</a></p>
                                    <p><a href="http://akart.co.uk/">akart.co.uk/</a></p>
                                </div>
                            </div>
                            <!-- End Single Address -->
                            <!-- Start Single Address -->
                            <div class="ht__address__inner">
                                <div class="ht__address__icon">
                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                </div>
                                <div class="ht__address__details">
                                    <p><a href="https://web.whatsapp.com/">(+44) 7456 159 369</a></p>
                                </div>
                            </div>
                            <!-- End Single Address -->
                        </div>
                    </div>
                </div>
            </div>
        </div>