<section class="htc__counterup__area count--2 h1__countdown bg__gray" style="margin-top:600px !important">
            <div class="container-fluid">
                <div class="row"  >
                    <div class="col-md-4 col-sm-12 col-xs-12">
                        <div class="counterup__left__thumb">
                            <img src="img/about/8.jpg" alt="images">
                        </div>
                    </div>
                    <div class="col-md-8 col-sm-12 col-xs-12">
                        <div class="htc__callto__action">
                            <h2># BEST <span class="text--theme">AK-ART</span> PROJECTS</h2>
                            <p>We are pleasure to provide any services that may you need in the construction and design works. We offer hundred percent customer satisfaction as a Akart design & construction teams.</p>
                            <div class="htc__call__btn">
                                <a class="htc__btn" href="contact.html">QUATO NOW</a>
                            </div>
                        </div>
                        <div class="htc__counterup__wrap" style="background: rgba(0, 0, 0, 0) url(img/bg/10.png) no-repeat scroll center center / cover ;">
                            <!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count ">
                                            <span class="count">88</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>PROJECTS</h2>
                                    </div>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
                            <!-- Start Single Fact -->
                            <div class="funfact hidden-md">
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count ">
                                            <span class="count">128</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>CLIENTS</h2>
                                    </div>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
                            <!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count ">
                                            <span class="count">99</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>SUCCESS</h2>
                                    </div>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
                            <!-- Start Single Fact -->
                            <div class="funfact">
                                <div class="fact__details">
                                    <div class="funfact__count__inner">
                                        <div class="fact__count ">
                                            <span class="count">12</span>
                                        </div>
                                    </div>
                                    <div class="fact__title">
                                        <h2>AWARDS</h2>
                                    </div>
                                </div>
                            </div> 
                            <!-- End Single Fact -->
                        </div>
                    </div>
                </div>
            </div>
        </section>