<div class="htc__brand__area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="brand__list">
                    <li><a href="#"><img src="/img/logo/6.jpg" alt="brand images"></a></li>
                    <li><a href="#"><img src="/img/logo/7.png" alt="brand images"></a></li>
                    <li><a href="#"><img width="450px" src="/img/logo/8.png" alt="brand images"></a></li>
                    <li><a href="#"><img src="/img/logo/9.png" alt="brand images"></a></li>
                    <li><a href="#"><img src="/img/logo/10.jpeg" alt="brand images"></a></li>
                    <li><a href="#"><img src="/img/logo/11.png" alt="brand images"></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>