



  <!-- Start Construction Area -->
        <section class="htc__best__construction ptb--40">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="htc__bst__construc">
                            <div class="section__title text-center">
                                <h2 class="title__line">BEST <span class="text--theme">DESIGN & BUILD</span> TEAM</h2>
                                <p>We believe in creating unique spaces to combine all forms of creative disciplines ensuring that each clients' needs and concepts are successfully manifested into each project. Our team of architectural composers have a strong reputation in offering great client services and achieving quality project outcomes.</p>
                            </div>
                            <div class="htc__bst__btn text-center mt--30">
                                <a class="htc__btn" href="contact">GET QUATO NOW</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Construction Area -->


         <!-- Start Offer Area -->
        <section class="htc__mission__area bg__gray">
            <div class="container">
                <div class="row">
                    <div class="col-md-9 col-lg-5 col-sm-7 col-xs-12">
                        <div class="htc__mission__container">
                            <div class="single__mission">
                                <h2>WHAT WE LOVE TO DO</h2>
                                <p>AKART was established in 2004, covering all aspects of building work acting as principal
                                    contractors on large contracts, new builds and luxury conversions. We specialise in new
                                    builds, as well as structural and decorative refurbishment works of multi-occupancy
                                    buildings.</p>
                            </div>
                            <div class="single__mission">
                                <h2>OUR MISSION</h2>
                                <p>AKART are proud of its accreditations and we embrace making the Design & Construction
                                    Industry a safer and more environmentally friendly industry</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-7 col-sm-5 col-xs-6 d-none d-sm-block">
                        <div class="htc__mission__container">
                            <div class="htc__offer__thumb__inner">
                                <img src="img/about/9.jpg" alt="offer img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Offer Area -->
        {{> _offer}}
        {{> _team}}
        {{> _logos}}
        {{> _address}}
        {{> _footer}}