 <section class="htc__contact__area bg__white ptb--50">
            <div class="container">
                <div class="row pb--100">
                    <div class="col-md-12">
                        <div class="htc__contact__inner">
                            <h2 class="title__line--5">CONTACT INFORMATION</h2>
                            <p>We're always here to help. If you have a question or query, please don't hesitate to contact us.
We're happy to help you at any point before you decided to collaborate with design and build company, and we always appreciate feedback or comments, so get in touch through one of the below channels.</p>
                        </div>
                        <div class="htc__address__container">
                            <!-- Start Single Address -->
                            <div class="ct__address">
                                <div class="ct__address__icon">
                                    <i class="zmdi zmdi-pin"></i>
                                </div>
                                <div class="ct__details">
                                   <p>576A Lordship Lane, Wood Green, <br> London, N22 5BY.</p>
                                </div>
                            </div>
                            <!-- End Single Address -->
                            <!-- Start Single Address -->
                            <div class="ct__address">
                                <div class="ct__address__icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="ct__details">
                                      <p><a href="http://akart.co.uk/">info@akart.co.uk</a></p>
                                    <p><a href="http://akart.co.uk/">akart.co.uk/</a></p>
                                </div>
                            </div>
                            <!-- End Single Address -->
                            <!-- Start Single Address -->
                            <div class="ct__address">
                                <div class="ct__address__icon">
                                    <i class="fa fa-globe"></i>
                                </div>
                                <div class="ct__details">
                                        <p><a href="https://web.whatsapp.com/">(+44) 7456 159 369</a></p>
                                </div>
                            </div>
                            <!-- End Single Address -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="htc__google__map">
                            <h2 class="title__line--5">WHERE WE LOCATED</h2>
                            <div class="map__contacts">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2478.310248878989!2d-0.10026438460225905!3d51.59920371180827!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761bfe2b0295fd%3A0x8042eaead890aade!2s576A%20Lordship%20Ln%2C%20London%20N22%205BY!5e0!3m2!1sen!2suk!4v1607375002689!5m2!1sen!2suk" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                                <!-- <div id="googleMap"></div> -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="htc__contact__form__wrap">
                            <h2 class="title__line--5">SEND US A MESSAGE</h2>
                            <div class="contact-form-wrap">
                                <form action="https://formspree.io/f/mgepkggo" method="POST" id="my-form">
                                    <div class="single-contact-inner">
                                        <div class="single-contact-form">
                                            <div class="contact-box name">
                                                <span>Your Name*</span>
                                                <input name="name"  id="name"   type="text" placeholder="Name">
                                            </div>
                                            <div class="contact-box email">
                                                <span>Your Email*</span>
                                                <input name="email" id="email" type="email" placeholder="Email">
                                            </div>
                                            <div class="contact-box subject">
                                                <span>Subject*</span>
                                                <input name="subject" id="subject" type="text" placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="single-contact-form">
                                            <div class="contact-box message">
                                                <span>Message*</span>
                                                <textarea name="message" id="message" placeholder="Massage"></textarea>
                                            </div>
                                            <div class="contact-btn">
                                                <button type="Send" class="htc__btn btn--theme">SEND MESSAGE</button>
                                               
                                            </div>
                                              <div id="status">
                                            </div>
                                        
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="form-output">
                                <p class="form-messege"></p>
                            </div>                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Address -->


            {{> _address}}
            {{> _footer}}
