
<!-- Start Slider Area -->
        <div class="slider__container">
            <div class="slider__activation__wrap owl-carousel owl-theme">
                <!-- Start Single Slide -->
                <div class="slide slider__fixed--height slide__align--center" style="background: rgba(0, 0, 0, 0) url(img/slider/bg/5.jpg) no-repeat scroll 0 0 / cover;" data--black__overlay="3">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="slider__inner">
                                    <h4>SINCE 1987</h4>
                                    <h1>WE BUILD THE TRUST</h1>
                                    <p>Our professional designer and builder teams ready to make your dream project ready! Get quaotes for more information and be ready to step up!</p>
                                    <div class="slider__btn">
                                        <a class="htc__btn" href="/contact">CONTACT US</a>
                                         <a class="htc__btn" href="https://www.facebook.com/100051270849937/videos/189027619482932/">WATCH VIDEO</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="htc__slider__fornt__img">
                        <img src="img/slider/fornt-img/1.png" alt="slider images">
                    </div>
                </div>
                <!-- End Single Slide -->
                <!-- Start Single Slide -->
                <div class="slide slider__fixed--height slide__align--center" style="background: rgba(0, 0, 0, 0) url(img/slider/bg/4.jpg) no-repeat scroll 0 0 / cover;" data--black__overlay="6">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-12">
                                <div class="slider__inner">
                                    <h4>SINCE 1987</h4>
                                    <h1>WE BUILD THE TRUST</h1>
                                    <p>Our professional designer and builder teams ready to make your dream project ready! Get quaotes for more information and be ready to step up!</p>
                                    <div class="slider__btn">
                                        <a class="htc__btn" href="contact.html">CONTACT US</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="htc__slider__fornt__img">
                        <img src="img/slider/fornt-img/1.png" alt="slider images">
                    </div>
                </div>
                <!-- End Single Slide -->
            </div>
              {{> _offer}}

  


        </div>
            {{> _about}}
            {{> _services}}
            
            {{> _latest}}
            {{> _counter}}
            
            {{> _team}}
            {{> _logos}}
            
            
            {{> _address}}
            {{> _footer}}
        <!-- Start Slider Area -->

   
 