  <section class="htc__blog__details__page ptb--30 bg__white">
            <div class="container">
                <div class="row">
                	<div class="col-md-3 col-lg-3 col-sm-12 col-xs-12">
                		<div class="htc__page__sidebar">
                			<!-- Start Single -->
                			<div class="htc__category bg__gray">
                				<h2 class="sidebar__title">CATEGORIES</h2>
                				<ul class="cat__list">
                					<li><a class="noclick" href="">RENOVATION</a></li>
                					<li><a class="noclick" href="">ARCHITECTURE</a></li>
                					<li><a class="noclick" href="">CONSULTING</a></li>
                					<li><a class="noclick" href="">INTERIOR DESIGN</a></li>
                					<li><a class="noclick" href="">PROJECT PLANNING</a></li>
                					<li><a class="noclick" href="">2D & 3D DESIGN MODELLING</a></li>
                				</ul>
                			</div>
                			<!-- End Single -->
                			<!-- Start Single -->
                			<!-- <div class="htc__broc bg__gray sidebar__separator">
                				<h2 class="sidebar__title">OUR BROCHURE</h2>
                				<ul class="brocure__list">
                					<li><a href="#"><i class="fa fa-file-pdf-o"></i>DOWNLOAD PDF BROCHURE</a></li>
                				</ul>
                			</div> -->
                			<!-- End Single -->
                		</div>
                	</div>
                    <div class="col-md-9 col-lg-9 col-sm-12 col-xs-12 smt-40 xmt-40">
                        <div class="htc__single__service">
                            <div class="htc__single__service__tab">
                                <div class="ht-portfolio-pic-show">
                                    <div class="ht-portfolio-full-image tab-content">
                                        <div role="tabpanel" class="tab-pane fade in active" id="img-tab-1">
                                            <img src="img/service/17.jpg" alt="full-image">
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="img-tab-2">
                                            <img src="img/service/14.jpg" alt="full-image">
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="img-tab-3">
                                            <img src="img/service/15.jpg" alt="full-image">
                                        </div>
                                        <div role="tabpanel" class="tab-pane fade" id="img-tab-4">
                                            <img src="img/service/16.jpg" alt="full-image">
                                        </div>
                                    </div>
                                </div>
                                <!-- Start Small images -->
                                <div class="ht__service__small__image nav nav-tabs clearfix">
                                    <ul role="tablist" class="prodict-det-small  clearfix">
                                        <li role="presentation" class="pot-small-img img-tab-1 active">
                                            <a href="#img-tab-1" role="tab" data-toggle="tab">
                                                <img src="img/service/13.jpg" alt="small-image">
                                            </a>
                                        </li>
                                        <li role="presentation" class="pot-small-img img-tab-2">
                                            <a href="#img-tab-2" role="tab" data-toggle="tab">
                                                <img src="img/service/14.jpg" alt="small-image">
                                            </a>
                                        </li>
                                        <li role="presentation" class="pot-small-img img-tab-3 xmt-20">
                                            <a href="#img-tab-3" role="tab" data-toggle="tab">
                                                <img src="img/service/15.jpg" alt="small-image">
                                            </a>
                                        </li>
                                        <li role="presentation" class="pot-small-img img-tab-4 xmt-20">
                                            <a href="#img-tab-4" role="tab" data-toggle="tab">
                                                <img src="img/service/16.jpg" alt="small-image">
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <!-- End Small images --> 
                            </div>
                            <div class="htc__service__dtl">
                                <!-- Start Single Service -->
                                <div class="htc__ser__dtl">
                                    <h2 class="title__line--4">INTERIOR DESIGN</h2>
                                    <p>Our construction experience in London includes adding storeys to Victorian blocks of flats in conservation areas, new builds for private homes, basements in listed buildings and more. 
                                        We create, make and test ideas in our London studio, solving problems with our in-house human centred design expertise and in partnership with our network of specialists.
                                    </p>
                                </div>
                                <!-- End Single Service -->
                                <!-- Start Single Service -->
                                <div class="htc__ser__dtl__inner">
                                    <div class="htc__ser__dtl">
                                        <h2 class="title__line--4">PROJECT ANALYSIS</h2>
                                        <p>We have written feasibility studies for a diverse range of industries and businesses, including lounge, real estate, product launching, branches and much more.</p>
                                    </div>
                                    <div class="htc__ser__dtl">
                                        <h2 class="title__line--4">Interior Design & Branding</h2>
                                        <p>Akart Ltd. is an well-established interior architecture practice working with brands, businesses and private clients who share their passion for detail, craft and refinement.</p>
                                    </div>
                                </div>
                                <!-- End Single Service -->
                                <!-- Start Single Service -->
                                <div class="htc__ser__dtl__inner">
                                    <div class="htc__ser__dtl">
                                        <h2 class="title__line--4">PROJECT MANAGEMENT</h2>
                                        <p>Our project management services cover the whole project, from inception to completion. We treat each project as unique and we maintain momentum, which we see as two of the keys to project success.</p>
                                    </div>
                                    <div class="htc__ser__dtl">
                                        <h2 class="title__line--4">Architectural Design</h2>
                                        <p>The team consists of Akart Ltd registered architects, structural engineers and experienced architectural designers. Taking a dedicated approach to each project, we meet clients face-to-face to talk through the step-by-step process.</p>
                                    </div>
                                </div>
                                <!-- End Single Service -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

            {{> _address}}
            {{> _footer}}